<div no-border class="myFooter">
  <ion-tabs>
    <ion-tab [root]="tab1root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2root" tabTitle="Weather" tabIcon="cloudy"></ion-tab>
    <ion-tab [root]="tab3root" tabTitle="Settings" tabIcon="settings"></ion-tab>
  </ion-tabs>
</div>
