
page-home {
  .card1{
    width: 100%;
    height: 20vh;
    background-color: #fafafa;
    display: block;
    border-radius: 5px;
    margin-top: 5vh;
    box-shadow: 0px 0px 10px #8e8e8e;

    .from{
      width: 50%;
      height: 100%;
      padding: 10%;
    }

    .to{
      width: 50%;
      height: 100%;
      margin-left: 50%;
      margin-top: -41%;
      padding: 10%;
    }

    h1{
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 400;
    }

    h2{
      font-size: 12px;
      color: #8e8e8e;
      font-weight: 600;
    }
  }

  .card2{
    width: 47%;
    height: 25vh;
    background-color: #fafafa;
    display: block;
    border-radius: 5px;
    margin-top: 4vh;
    box-shadow: 0px 0px 10px #8e8e8e;
    float: left;
  }
  .card3{
    width: 47%;
    height: 25vh;
    background-color: #fafafa;
    display: block;
    border-radius: 5px;
    margin-top: 4vh;
    box-shadow: 0px 0px 10px #8e8e8e;
    float: right;
  }
  .card4{
    width: 100%;
    height: auto;
    background-color: #fafafa;
    display: block;
    border-radius: 5px;
    margin-top: 4vh;
    float: left;
    clear: both;
    box-shadow: 0px 0px 10px #8e8e8e;
    padding: 5%;
    color: black;

    p{
      text-align: left;
    }
  }

  input {
    margin-top: 10vh;
    padding: 2%;
    width: 60vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #8e8e8e;
    color: black;
  }

  button {
    padding: 3%;
    margin-left: 5vw;
    background: #fafafa;
    box-shadow: 0px 0px 5px #8e8e8e;
    border-radius: 5px;
  }

  .item-range{
    margin-top: 2vh;
    background-color: transparent;
  }

  .item-inner{
    border: none !important;
    box-shadow: none !important;
  }
}
