<div>
  <ion-header no-border class="myToolbar">
    <ion-toolbar>
      <h3 class="myHeader">Home</h3>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content padding class="home">
  <input placeholder="search something.." ngModel required #SearchParams="ngModel"/>
  <button (click)="runSearch(SearchParams)">Search</button>

  <div class='card1'></div>

  <div class='card4' *ngFor="let GoogleSearchResult of GoogleSearchResults">
    <p [innerHtml]="GoogleSearchResult.htmlTitle"></p>
  </div>
</ion-content>
