<div>
  <ion-header no-border class="myToolbar">
    <ion-toolbar>
      <h3 class="myHeader">Settings</h3>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content padding class="home">
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list class="myList">
          <form (ngSubmit)="saveForm()">
            <ion-item>
              <ion-label fixed>
                City
              </ion-label>
              <ion-input [(ngModel)]="city" name="city" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed>
                State
              </ion-label>
              <ion-input [(ngModel)]="state" name="state" type="text"></ion-input>
            </ion-item>
            <button ion-button type="submit">Save Changes</button>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
