$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #6495ed,
  secondary:  #435d8c,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
  mylight:    #ccc
);

//Top toolbar
$toolbar-background: color($colors, secondary);
//Bottom tabs
$tabs-background: color($colors, secondary);
$tabs-tab-color-active: color($colors, light);
$tabs-tab-color: color($colors, light);
$tabs-tab-text-color: color($colors, light);
$tabs-tab-color-inactive: color($colors, mylight);

$list-background-color:color($colors,secondary);
$list-text-color:color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
