page-weather {
  .temp{
    font-size:70px;
    text-align: center;
    font-weight: normal;
  }
  .location, .icon, .desc{
    text-align: center;
  }
  .location{
    padding-top: 30px;
    font-size: 30px;
  }
  .desc{
    margin-top: -5px;
    font-size: 25px;
  }
  .icon{
    margin-top: -5px;
  }
}
