<div>
  <ion-header no-border class="myToolbar">
    <ion-toolbar>
      <h3 class="myHeader">Weather</h3>
    </ion-toolbar>
  </ion-header>
</div>
<ion-content padding class="home">
  <ion-grid *ngIf="weather">
    <ion-row>
      <ion-col width-50 offset-25>
        <h2 class="location">{{weather.display_location.full}}</h2>
        <div class="icon"><img src="{{weather.icon_url}}" alt=""></div>
        <h3 class="desc">{{weather.weather}}</h3>
        <h1 class="temp">{{weather.temp_c}}&deg;</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Temp: </strong> {{weather.temperature_string}};
          </ion-item>
          <ion-item>
            <strong>Relative Humidity: </strong> {{weather.relative_humidity}};
          </ion-item>
          <ion-item>
            <strong>Feels Like: </strong> {{weather.feelslike_c}}&deg;
          </ion-item>
          <ion-item>
            <strong>Visibility: </strong> {{weather.visibility_km}} km
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
