.home{
  background-color: color($colors, primary);
  color: color($colors, light);
  margin-top: 30px;
}
.myHeader{
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 1vh;
  text-align: center;
}
.myToolbar{
  box-shadow: 0px 3px 3px 0px rgba(86,95,196,0.8);
}
